<html>
	<head>
		<script type='text/javascript' src='/static/jquery.min.js'></script>
		<script type='text/javascript' src='/static/string-format.js' onload='format.extend(String.prototype);'></script>
		<script type='text/javascript' src='/static/mods.js'></script>
		<script type='text/javascript' src='/static/util.js'></script>
		<script type='text/javascript' src='/static/ui.js'></script>
		<script type='text/javascript' src='/static/cube.js'></script>
	</head>
	<body>
		<div id='hook'></div>
		{% block body %}{% endblock %}
	</body>
</html>
